{% extends 'navbar.html' %} {% block content%}

<head>
    <title>Frebristor</title>
</head>

<body>
    <div id="beranda" class="dashboard container-fluid d-block p-5 text-center mt-5" style="background-image: url({{ url_for('static', filename='img/bgg.jpg')}}); background-repeat:no-repeat; background-size:cover; background-position:center; height: 700px">
        <div class="container">
            <div class="applogo my-4 row mx-auto">
                <img src="{{ url_for('static', filename='img/fever.png') }}" alt="">
                <caption>
                    <h4>FREBISTOR APP</h4>
                </caption>
            </div>
            <div class="row mt-4 mb-2 text-center welcome-text">
                <div class="col"></div>
                <div class="col-8">
                    <p class="text-dark  text-opacity-50"><strong class="text-dark">Selamat Datang di Frebistor App</strong>
                        <br> Sistem ini berguna untuk memprediksi penyakit yang diidap oleh pasien, khususnya untuk penyakit Tifus (TF) dan Demam Berdarah (DHF).
                    </p>
                </div>
                <div class="col"></div>
            </div>
            <div class="row menu-app">
                <div class="col-lg-5 col-md-4 col-sm-12 text-lg-end">
                    <a id="pred" href="/prediksi">Prediksi Penyakit</a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-12 py-sm-4 py-md-0  text-lg-center">
                    <a id="riwayat" href="/riwayat">Riwayat Prediksi</a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 text-lg-start">
                    <a id="about" href="#tentang">Tentang Frebistor</a>
                </div>
            </div>
        </div>
    </div>
    <div id="tentang" class="container mx-auto mt-5 mb-3 p-5" style="height:500px">
        <div class="row">
            <div class="col">
                <img src="{{ url_for('static', filename='img/cold.jpg') }}" width="440px" alt="">
            </div>
            <div class="col">
                <p><strong class="fs-3 py-0">About</strong> <br> About Frebristor App</p>
                <p>Frebristor merupakan sebuah aplikasi yang secara khusus dibuat untuk memprediksi adanya penyakit TF dan DHF pada pasien. Aplikasi memprediksi penyakit pasien dengan algoritma Pseudo Nearest Neighbour (PNN), yang menggunakan gejala klinis
                    pasien sebagai parameter dalam memprediksi. </p>
                <hr>
                <p>Algoritma Pseudo Nearest Neighbour (PNN) merupakan salah satu algoritma dalam data mining yang digunakan untuk klasifikasi data. Pada aplikasi ini, algoritma PNN telah dilatih menggunakan total 232 data latih. Hasil pelatihan tersebut
                    kemudian diuji menggunakan 58 baris data, dengan persentase akurasi terbesar yang dihasilkan yaitu sebesar 68,97%. </p>
                <hr>
                <hr>
                <td>Dibuat oleh I Dewa Ngurah Tri Hendrawan, NIM 1808561069, Mahasiswa Informatika, Fakultas MIPA, Universitas Udayana.</td>
            </div>
        </div>
    </div>
    <footer>
        <div class="mt-5 pt-3 pb-2 text-center bg-secondary bg-opacity-10">
            <p>Copyright © 2022 Frebistor App - All Right Reserved</p>
        </div>
    </footer>
    </div>

</body>
{% endblock %}