<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.css')}}">
    <title>Login - Frebristor</title>
</head>

<body class="bg-light">
    <div class="main-content container">
        <p class="pt-5 text-center fs-3 fw-bold text-warning">frebristor app</p>
        <div class="login-card shadow mx-auto bg-white pt-1 pb-5 px-5" style="  width: 370px;">
            <form action="" method="post">
                <h2 class="pt-4 pb-2 text-center">Login</h2>
                <div class="row">
                    <div class="form-floating mt-1 mb-2">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput" class="px-4">Username</label>
                    </div>
                </div>
                <div class="row justify-content-center ">
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword" class="px-4">Password</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-warning justify-content-center w-100 my-3 py-2">Login</button>
            </form>
        </div>
    </div>

    <script src="{{url_for('static', filename='bootstrap/js/bootstrap.js')}}"></script>
</body>

</html>